
*.asv
*.autosave
*.bak*
*.html
*.rpt
*.cmp
*.done
*.eqn
*.hex
*_info
*.jdi
*.jpg
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.qpg
*.qdb
*.qtl
*.rpt
*.smsg
*.sof
*.wlf
*.log
*.summary
*.tqr
*.txt




db
html
incremental_db
libraries
lpm
slprj
output_files
work
simulation
greybox_tmp
.qsys_edit
